<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 p-3">
      <form autocomplete="off" [formGroup]="userForm">
        <div *ngIf="confirmButton === 'Update'" class="pb-2">
          <label style="padding-right: 12px">ID</label>
          <input readonly="true" formControlName="id" placeholder="ID" />
        </div>
        <div class="pb-2">
          <label style="padding-right: 12px">First Name</label>
          <input formControlName="firstName" placeholder="First Name" />
        </div>
        <div class="pb-2">
          <label style="padding-right: 12px">Last Name</label>
          <input formControlName="lastName" placeholder="Last Name" />
        </div>
        <div class="pb-2">
          <label style="padding-right: 12px">Age</label>
          <input formControlName="age" placeholder="Age" />
        </div>
        <div class="pb-2">
          <label style="padding-right: 12px">Gender</label>
          <input formControlName="gender" placeholder="Gender" />
        </div>
        <div class="pb-2">
          <label style="padding-right: 12px">Location</label>
          <input formControlName="location" placeholder="Location" />
        </div>
        <div class="pb-2">
          <label style="padding-right: 12px">Email</label>
          <input formControlName="email" placeholder="Email" />
        </div>

        <div class="pb-2">
          <button (click)="onSubmit()">{{ confirmButton }}</button>
          <button (click)="onCancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
